*{
    margin: 0;
}
section{
    background-color: #222;
    height: 100vh;
    width: 100vw;
    color: #eee;
    cursor: pointer;
}
header{
    display: flex;
    background-color: inherit;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
header title{
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: inherit;
    margin-left: 50px;
    font-size: 40px;
}
header nav{
    display: flex;
    width: 400px;
    gap: 20px;
    cursor: pointer;
}
nav div{
    width: max-content;
}
header .mode{
    margin-left: auto;
    color: inherit;
}
.home{
    display: flex;
}
.home .brief, .home .imageSwiper{
    width: 100%;
    height: 70vh;
    background-color: inherit;
    display: grid;
    align-content: center;
    justify-content: left;
}
.brief h2, .brief p, .brief button{
    margin-left: 50px;
    float: left;
    font-size: 25px;
}
.brief h2{
    font-size: 40px;
}
.brief h2 .orangeText{
    color: #e62;
    text-shadow: 13px 2px #000;
    font-size: 70px;
}
.brief p{
    margin-top: 30px;
    margin-bottom: 40px;
}
.brief button{
    transition: 200ms;
    width: fit-content;
    padding: .6rem  1.5rem ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #000;
}
.brief button:hover{
    font-size: medium;
}